MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml
*.gif
*.html
*.mp4
*.pdf
*.aux
*.log
*.tex

notebooks/sz_matmod/crackplotangleforthreecaseswhenbeta0.pdf
notebooks/sz_matmod/crackplotnew1.pdf
notebooks/sz_matmod/crackplotshear.pdf
notebooks/sz_matmod/crackpropagationagainstinclination.pdf
notebooks/sz_matmod/Failurelocus.pdf
notebooks/sz_matmod/KIbeta.pdf
notebooks/sz_matmod/KIIbeta.pdf
notebooks/sz_matmod/thetaMeps.pdf
/cached_arrays
